{% extends 'base.html' %}

{% load static %}

{% block title %}Главная - Библиотека{% endblock %}

{% block content %}
  <div class="main-container">
    <!-- carusel -->
    {% if slides %}
    <div id="carouselExampleIndicators" class="carousel slide animate__animated animate__zoomIn" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for slide in slides %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for slide in slides %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ slide.image.url }}" class="d-block w-100" alt="{{ slide.title }}">
          <div class="carousel-caption d-block">
            <h5>{{ slide.title }}</h5>
          </div>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {% endif %}
  </div>
{% endblock %}